@inject IStringLocalizer<CultureResource> Loc

@if(ex != null)
{
<div class="alert alert-danger" role="alert">
        @if(ex.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            <h4 class="alert-heading">@Loc["Unauthorized"]</h4>
            <p>@Loc["Exc-auth-msg"]</p>
             <NavLink class="btn btn-outline-danger" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> @Loc["Settings"]
            </NavLink>
        }
        else
        {
            <h4 class="alert-heading">@ex.StatusCode.ToString()</h4>
            <p>@ex.Message</p>
        }
</div>
}

@code {
    [Parameter]
    public ServiceResponseException ex { get; set; }
}
