@inject IWeatherService weatherService


<div class="row g-3">
    <div class="col-auto">
        <input class="form-control" @bind="AppId"/>
    </div>
    <div class="col-auto">
        <input class="btn btn-success mb-3" type="button" value="Ok" @onclick="SetAppId">
    </div>
</div>

@if (city == null || currentWeather == null || forecastWeather == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="p-3">
        <div class="container h-100">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6">

                    <div class="card border-secondary" style="border-radius: 35px;">
                        <div class="card-body p-4">

                            <div class="d-flex">
                                <h6 class="flex-grow-1">@city.Local_names?[CultureInfo.CurrentCulture.Parent.ToString()]</h6>
                                <h6>@DateConverter.UnixTimeToLocalDateTime(currentWeather.Dt).ToString("H:mm")</h6>
                            </div>

                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <span class="small text-black-75">@currentWeather.Weather.First().Description</span>
                                <h6 class="display-4 mb-0 font-weight-bold text-black-75">@currentWeather.Main.Temp°C</h6>
                                <div class="d-flex flex-row justify-content-center mt-2">
                                    <span class="small text-black-75">
                                        @currentWeather.Main.TempMin°C
                                        &nbsp;/&nbsp;
                                        @currentWeather.Main.TempMax°C
                                    </span>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div>
                                        <i class="fas fa-wind fa-fw"></i>
                                        <span class="ms-1">@currentWeather.Wind.Speed м/с</span>
                                    </div>
                                    <div>
                                        <i class="fas fa-tint fa-fw"></i>
                                        <span class="ms-1"> @currentWeather.Main.Humidity% </span>
                                    </div>
                                    <div>
                                        <i class="fas fa-cloud fa-fw"></i>
                                        <span class="ms-1"> @currentWeather.Clouds.All% </span>
                                    </div>
                                    <div>
                                        <i class="fas fa-gauge fa-fw"></i>
                                        <span class="ms-1"> @(Math.Round(currentWeather.Main.Pressure * 0.750064)) мм рт.ст.</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card border-secondary mt-3 p-3" style="border-radius: 35px;">
                        <div class="card-body">
                            <div class="d-flex flex-column text-center">
                                <span class="small text-black-75">Ощущается как @currentWeather.Main.FeelsLike°C</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <hr />

    <section>
        <div class="container scrolling-wrapper-flexbox pb-3">
            @foreach (var item in forecastWeather.List.Take(8))
            {
                <div class="card-flex m-1">

                    <div class="card border-secondary" style="border-radius: 35px; min-height:160px; min-width:160px">
                        <div class="card-body">
                            <div class="d-flex flex-column text-center">
                                <span>@DateConverter.UnixTimeToLocalDateTime(item.Dt).ToString("H:mm")</span>
                                <span class="display-6 mb-0 font-weight-bold text-black-75">@item.Main.Temp°C</span>
                                <span class="small text-black-75">@item.Main.TempMin°C&nbsp;/&nbsp;@item.Main.TempMax°C</span>
                                <span class="small text-black-75">@item.Weather.First().Description</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
}


@code {
    private GeocodingDto? city;
    private WeatherCurrentDto? currentWeather;
    private WeatherForecastDto? forecastWeather;
    private string AppId { get; set; }

    protected async void SetAppId()
    {
        await weatherService.SetAppId(AppId);
        city = await weatherService.GetCityLocation();
        currentWeather = await weatherService.GetWeather();
        forecastWeather = await weatherService.GetForecast();
    }

    protected override async Task OnInitializedAsync()
    {
        AppId = await weatherService.GetAppId();
        city = await weatherService.GetCityLocation();
        currentWeather = await weatherService.GetWeather();
        forecastWeather = await weatherService.GetForecast();
    }
}