@inject IStringLocalizer<CultureResource> Loc

<div class="m-1 text-center">
    <span class="rounded-pill p-1">@DateConverter.UnixTimeToLocalDateTime(WeatherItem.Dt).ToString("H:mm")</span>
    <div class="card rounded-5 p-1" style="width:150px;">

        <div class="text-center">
            <img src="@($"https://openweathermap.org/img/wn/{WeatherItem.Weather.First().Icon}@2x.png")"
                 alt="currentWeather.Weather.First().Icon">
        </div>

        <div class="text-center">
            <p class="small lh-1 p-0 m-0" style="height:2rem;">@WeatherItem.Weather.First().Description</p>
            <div class="fs-4">@WeatherItem.Main.Temp°C</div>
            <span class="small text-nowrap">
                @WeatherItem.Main.TempMin°C
                &nbsp;/&nbsp;
                @WeatherItem.Main.TempMax°C
            </span>
        </div>

        <div class="flex-grow-1">
            <div>
                <i class="fas fa-users fa-fw"></i>
                <span>@WeatherItem.Main.FeelsLike°C</span>
            </div>
            <div>
                <i class="fas fa-wind fa-fw"></i>
                <span>@WeatherItem.Wind.Speed @Loc["m/s"]</span>
            </div>
            <div>
                <i class="fas fa-tint fa-fw"></i>
                <span> @WeatherItem.Main.Humidity% </span>
            </div>
            <div>
                <i class="fas fa-cloud fa-fw"></i>
                <span> @WeatherItem.Clouds.All% </span>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public WeatherList WeatherItem { get; set; }
}
